In [46]:
import pandas as pd

In [47]:
import plotly.plotly as py
import plotly.graph_objs as go

In [48]:
cc=pd.read_excel("D:/dataset/default of credit card clients.xls")

In [49]:
cc=cc.head(200)

In [50]:
cc.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [51]:
cc_grp=cc.groupby(['MARRIAGE'])['LIMIT_BAL'].mean()
cc_grp=pd.DataFrame(cc_grp)
cc_grp=cc_grp.reset_index()

In [52]:
import plotly
plotly.tools.set_credentials_file(username='anaswaraeantony', api_key='NJsHDkz9tqVxGMs4qPFQ')

In [53]:
#Bar plot

data=[go.Bar(x=cc_grp['MARRIAGE'],y=cc_grp['LIMIT_BAL'])]#BOX,SCATTER
py.iplot(data,filename='basic-bar')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~anaswaraeantony/0 or inside your plot.ly account where it is named 'basic-bar'

In [54]:
##Box plot

trace0=go.Box(y=cc['BILL_AMT1'])
trace1=go.Box(y=cc['BILL_AMT2'])

data=[trace0,trace1]
py.iplot(data)

In [56]:
#pie chart

cc_grp=cc.groupby(['SEX'])['LIMIT_BAL'].mean()
cc_grp=pd.DataFrame(cc_grp)
cc_grp=cc_grp.reset_index()
cc_grp

   SEX      LIMIT_BAL
0    1  161458.333333
1    2  173942.307692

In [58]:
trace=go.Pie(labels=cc_grp['SEX'],values=cc_grp['LIMIT_BAL'])
py.plot([trace],filename='basic_pie_chart')

'https://plot.ly/~anaswaraeantony/6'

In [59]:
#scatter plot

trace=go.Scatter(x=cc['AGE'],y=cc['LIMIT_BAL'],mode='markers')
data=[trace]

#plot and embed in ipython notebook
py.iplot(data,filename='basic_scatter')

In [60]:
##stacked bar chart

cc_grp=cc.groupby(['SEX','EDUCATION'])['LIMIT_BAL'].mean()
cc_grp=pd.DataFrame(cc_grp)
cc_grp=cc_grp.reset_index()
cc_grp

   SEX  EDUCATION      LIMIT_BAL
0    1          1  195744.680851
1    1          2  140606.060606
2    1          3  109333.333333
3    1          5   20000.000000
4    2          1  221538.461538
5    2          2  149090.909091
6    2          3  137000.000000
7    2          5  150000.000000

In [61]:
trace0=go.Bar(x=cc_grp[cc_grp['SEX']==1]['EDUCATION'],y=cc_grp[cc_grp['SEX']==1]["LIMIT_BAL"],
              name='Male',marker=dict(color='green'))

trace1=go.Bar(x=cc_grp[cc_grp['SEX']==2]['EDUCATION'],y=cc_grp[cc_grp['SEX']==2]["LIMIT_BAL"],
              name='Female',marker=dict(color='orange'))

data=[trace0,trace1]
layout=go.Layout(xaxis=dict(tickangle=-45),barmode='stack',title='credit variation using education and limit balance')

fig=go.Figure(data=data,layout=layout)
py.iplot(fig,filename='angled_text_bar')

In [62]:
trace0=go.Scatter(x=cc[cc['SEX']==1]['AGE'],y=cc[cc['SEX']==1]["LIMIT_BAL"],
              name='Male',mode='markers',marker=dict(size=10,color='red',line=dict(width=2,color='black')))

trace1=go.Scatter(x=cc[cc['SEX']==2]['AGE'],y=cc[cc['SEX']==2]["LIMIT_BAL"],
              name='Female',mode='markers',marker=dict(size=10,color='orange',line=dict(width=2,color='black')))

data=[trace0,trace1]
layout=dict(title='Credit limit variation with age')

fig=go.Figure(data=data,layout=layout)
py.iplot(fig,filename='styled_scatter',theme='solar')